<div class="sidenav">
    <a href="/DeleteAccount">Delete Account</a>
    <a href="/UpdateUserAccount">Update Profile</a>
    <a href="/Friends">Friends</a>
    <a href="/myMessages">Messages</a>
    <a href="/explore">Explore</a>
</div>