<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <link rel='stylesheet' type="text/css" href='../assets/index.css' />

</head>


<main>
    <div id="content">
<%- include('partials/nav.ejs') %>
<h1>Chat Box *Lite*</h1>
<hr class="homeHR">

        <h3 class="centerTable">Chat Box is a messaging app for messaging between Anyone, for FREE!
            Feel free to look around, or sign up!</h3><br><br>
        <h2 class="centerTableHome">This website is for practice, please do not input any sensitive data!</h2>

        <table>
            <tr>
                <th class="cycles">
                    <img src="../assets/images/Cycles1.gif" alt="Cycles1">
                    <img src="../assets/images/Cycles2.gif" alt="Cycles2">
                    <img src="../assets/images/Cycles3.gif" alt="Cycles3">
                    <img src="../assets/images/Cycles4.gif" alt="Cycles4">
                    <img src="../assets/images/Cycles5.gif" alt="Cycles5">
                </th>
            </tr>
        </table>
    </div>
    <!--<%-// include('partials/footer.ejs') %> For some reason this doesnt work-->

</main>
</body>
</html>