<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <link rel='stylesheet' type="text/css" href='../assets/index.css' />

</head>


<main>
    <div id="content">
<%- include('partials/nav.ejs') %>
<h1>Chat Box *Lite*</h1>
<hr class="homeHR">

        <p>Chat Box is a messaging app for messaging between private parties.
            Feel free to look around, or sign up for free!!</p><br><br>

        <table>
            <tr>
                <th class="cycles">
                    <img src="../assets/images/Cycles1.gif" alt="Flowers in Chania">
                    <img src="../assets/images/Cycles2.gif" alt="Flowers in Chania">
                    <img src="../assets/images/Cycles3.gif" alt="Flowers in Chania">
                    <img src="../assets/images/Cycles4.gif" alt="Flowers in Chania">
                    <img src="../assets/images/Cycles5.gif" alt="Flowers in Chania">
                </th>
            </tr>
        </table>
    </div>
    <%- include('partials/footer.ejs') %>

</main>
</body>
</html>