<!doctype html>

<html lang="en">
<head>

    <title>Chat Box</title><!--Title of each individual page-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <link rel='stylesheet' type="text/css" href='../assets/index.css' />


</head>

<body>
<main>
    <%- include('partials/nav.ejs') %>
    <div id="content">
        <img class="menuLogo3" src="assets/images/login2.gif" alt="World">
        <h2 class="centerTable">Log On and Connect Globally!</h2><br><br><br>

        <form class="centerPostForm" action="/authenticate" method="post">
            <label class="SUForm" for="userID">Username:</label><br>
            <input type="text" id="userID" name="userID" value="<%= data.qs.userID%>" placeholder=" username1"><br><br>
            <label class="SUForm" for="password">password:</label><br>
            <input type="password" id="password" name="password" value="<%= data.qs.password%>" placeholder=" password"><br><br>
            <input class="button" type="submit" value="Submit">
            <br><br>
            <a href="/signUp">Dont have an account?</a>
            <br>
        </form>
    </div>
</main>

<!--<%-// include('partials/footer.ejs') %> For some reason this doesnt work-->

</body>